/*In which I do many things with limited code*/
@import url("http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Arapey|Linden+Hill");
*{margin:0px;padding:0px;}
#holder{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	max-width:500px;
}
#e{
	position:fixed;
	width:100%;
	height:525px;
	background-image:url('e.png');
	left:0%;
	top:50%;
	margin-top:-262.5px;
	background-color:#272822;
	background-repeat:no-repeat;
	background-position:top center;
}
#main{
	position:absolute;
	background-color:#272822;
	width:100%;
	top:50px;
	padding:3px;
}
body{
	background-color:#43443c;
	color:#f8f8f2;
	font-family: 'Linden Hill', serif;
}
h1{
	text-align:center;
	position:absolute;
	z-index:9001;
	height:50px;
	overflow:visible;
	font-family: 'Sorts Mill Goudy', serif;
	font-size:50px;
	top:0px;
	white-space:nowrap;
}
h2{
	width:90%;
	color:#a6e22e;
	font-family: 'Arapey', serif;
	font-weight:normal;
	letter-spacing:2px;
	font-size:60px;
	z-index:1337;
}
a{
	color:white;
}